* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #8d4b00, #f8e7d2);
}

main {
  position: relative;
}

nav img {
  width: 40px;
}

footer {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: brown;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
footer img {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
footer a img:hover {
  width: 30px;
}

.portada {
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  text-align: center;
  padding: 80px;
}
.portada h1.portada_titulo {
  font-family: "Lobster", cursive;
  color: #aa5518;
  filter: drop-shadow(0 0 2px #5c2600) drop-shadow(1px 2px 0 #5c2600) drop-shadow(-1px 1px 0 #5c2600) drop-shadow(1px -1px 0 #5c2600);
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 2s;
  animation-name: aparecer;
}
.portada h2.portada_subtitulo {
  font-family: "Suez One", serif;
  font-size: 3vw;
  color: white;
  filter: drop-shadow(0 0 1px #3d1a00) drop-shadow(1px 1px 0 #3d1a00) drop-shadow(-1px 1px 0 #3d1a00) drop-shadow(1px -1px 0 #3d1a00);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 5s;
  animation-name: aparecer;
}

.galeria {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeria .carousel {
  width: 1000px;
  height: 800px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#nosotros {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
}

section.menu {
  display: grid;
  grid-template-areas: "cafeteria desayunos desayunos pasteleria" "milkshakes sanguches ensaladas pasteleria";
  grid-template-rows: 400px 400px;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  padding: 100px;
}
section.menu p {
  color: #ffdbc1;
  font-family: "Suez One", serif;
  font-size: "Suez One", serif;
  filter: drop-shadow(0 0 1px chocolate) drop-shadow(1px 1px 0 chocolate) drop-shadow(-1px 1px 0 chocolate) drop-shadow(1px -1px 0 chocolate);
  font-size: 3vw;
}

section .menu__cafeteria {
  grid-area: cafeteria;
  background-image: url(../images/cafeteria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .menu__cafeteria:hover {
  transform: rotateX(30deg);
}

section .menu__desayunos {
  grid-area: desayunos;
  background-image: url(../images/desayunos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .menu__desayunos:hover {
  transform: rotateY(30deg);
}

section .menu__pasteleria {
  grid-area: pasteleria;
  background-image: url(../images/pasteleria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .menu__pasteleria:hover {
  transform: rotateX(30deg);
}

section .menu__sanguches {
  grid-area: sanguches;
  background-image: url(../images/sanguches.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .menu__sanguches:hover {
  transform: rotateY(30deg);
}

section .menu__milkshakes {
  grid-area: milkshakes;
  background-image: url(../images/milkashakes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .menu__milkshakes:hover {
  transform: rotateX(30deg);
}

section.menu__ensaladas {
  grid-area: ensaladas;
  background-image: url(../images/ensaladas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.menu__ensaladas:hover {
  transform: rotateX(30deg);
}

form {
  width: 80%;
  padding: 80px;
}

h2.contactanos_titulo {
  font-family: "Suez One", serif;
  color: white;
  filter: drop-shadow(0 0 1px #3d1a00) drop-shadow(1px 1px 0 #3d1a00) drop-shadow(-1px 1px 0 #3d1a00) drop-shadow(1px -1px 0 #3d1a00);
  font-size: "Suez One", serif;
  padding-top: 100px;
  text-align: center;
}

/* header {
  width: 100%;
  height: 50px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  text-align: right;
  background-color: #491b05;
  color: white;
  text-decoration: none;
}

nav {
  background-color: #491b05;
  position: fixed;
}

nav li {
  display: inline;
  padding: 15px;
  font-size: 20px;
  list-style: none;
}

nav li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

nav li a:hover {
  background-color: white;
  color: #491b05;
  padding: 13px;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a {
    float: right;
    display: block;
  }
} */
/* 
table {
  color: blue;
  border: 3px solid black;
  border-collapse: collapse;
  margin-top: 50px;
}

.chocolatoso {
  color: chocolate;
  border: 3px solid black;
}

.coconut {
  color: wheat;
  border: 3px solid black;
}

.strawberry {
  color: red;
  border: 3px solid black;
}

th {
  background-color: #491b05;
  color: white;
  padding: 20px;
}

tr,
td {
  border: 1px solid;
  padding: 0;
} */

/*# sourceMappingURL=style.css.map */
