form {
  width: 80%;
  padding: 80px;
}

h2.contactanos_titulo {
  font-family: $h2_font;
  color: $h2_color;
  filter: $h2-shadow;
  font-size: $h2_font;
  padding-top: 100px;
  text-align: center;
}
