section.nosotros {
  h2.nostros__titulo {
    color: $h2_color;
    font-family: $h2_font;
    filter: $h2_shadow;
    font-size: $h2_size;
    text-align: center;
    padding: 50px;
  }
  section.nosotros__contenido {
    display: grid;
    grid-template-areas:
      "img1 p1"
      "p2 img2"
      "img3 p3";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 100px;
    img.nosotros__imagen {
      width: 40vw;
      height: 30vw;
      img#img1 {
        grid-area: img1;
      }
      img#img2 {
        grid-area: img2;
      }
      img#img3 {
        grid-area: img3;
      }
    }
    p#p1 {
      grid-area: p1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5vw;
      font-size: 1.5vw;
    }
    p#p2 {
      grid-area: p2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5vw;
      font-size: 1.5vw;
    }
    p#p3 {
      grid-area: p3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5vw;
      font-size: 1.5vw;
    }
  }
}
